<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f0dbfb20-b4a2-4892-a24c-1786246837bf/resourcegroups/RivitaBackend20211229160732ResourceGroup/providers/Microsoft.Web/sites/RivitaBackend20211229160732</ResourceId>
    <ResourceGroup>RivitaBackend20211229160732ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f0dbfb20-b4a2-4892-a24c-1786246837bf/resourceGroups/RivitaBackend20211229160732ResourceGroup/providers/Microsoft.ApiManagement/service/RivitaBackendapi/apis/RivitaBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rivitabackend20211229160732.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6fd21561-0233-46c8-9fb4-f695ecb28506</ProjectGuid>
    <MSDeployServiceURL>rivitabackend20211229160732.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RivitaBackend20211229160732</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RivitaBackend20211229160732</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>